li {
        margin-bottom: 16px;
      }

      /* Задаем черную границу ссылке с атрибутом "target" равным "_blank" */
      a[target="_blank"] {
        border: 2px solid black;
      }

      /* Задаем красную границу ссылке у которой значение атрибута "href" начинается со строки "broken" */
      a[href^="broken"] {
        border: 2px solid red;
      }

      /* Задаем отступ слева 50px всем ссылкам на комерческие сайты */
      a[href$=".com"] {
        margin-left: 50px;
      }

      /* Уменьши шрифт до 10px ссылкам, у которых значение атрибута lang содержит en */
      a[lang*="en"] {
        font-size: 10px;
      }

      /* Задай зеленый цвет шрифта всем ссылкам, которые содержат в адресе www */
      a[href*="www"] {
        color: green;
      }

      /* Увеличь шрифт до 24px самым популярным */
      a[title*="popular"] {
        font-size: 24px;
      }
