.text {
    margin: 16px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px dotted black;
    color: black;
}

.tooltip {
    display: inline-block;
    background-color: grey;
    position: absolute;
    bottom: -40px;
    padding: 8px;
    border-radius: 4px;
    color:white;
    visibility: hidden;
}
