* {
    box-sizing: border-box;
}

.container {
    margin: 32px;
}

.rect {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
    background-color: coral;
    opacity: 0.5;
    text-align: center;
    line-height: 100px;
    transition-property: width, opacity;
    transition-duration: 2s, 0.5s;
}

.linear:hover {
    transition-timing-function: linear;
}

.ease:hover {
    transition-timing-function: ease;
}

.ease-in:hover {
    transition-timing-function: ease-in;
}

.ease-out:hover {
    transition-timing-function: ease-out;
}

.ease-in-out:hover {
    transition-timing-function: ease-in-out;

}

.linear:hover,
.ease:hover,
.ease-in:hover,
.ease-out:hover,
.ease-in-out:hover {
    width: 100%;
    opacity: 1;
}
